#intro {
	color:  Plum;
	font-family: 'Rubik Moonrocks', cursive;
	font-size:  50px;
	width:  600px;
	margin:  auto;
}

#map {
	color:  Plum;
	font-family: 'Rubik Moonrocks', cursive;
	font-size:  50px;
	width:  600px;
	margin:  auto;
}